:root {
  --mdc-theme-primary: #4354f1;
}

body {
  margin: 0;
}

.page {
  display: flex;
  align-items: stretch;
  min-height: 100vh;
}

.load-or-create-panel {
  display: flex;
  justify-content: center;
}

.drawer {
  position: fixed;
  background-color: #4a5566;
}

.drawer.mdc-drawer .mdc-drawer__title {
  color: #dce3f5;
}

.drawer.mdc-drawer .mdc-drawer__subtitle {
  color: #dce3f5;
}

.drawer.mdc-drawer .mdc-list-item {
  color: #dce3f5;
}

.drawer.mdc-drawer .mdc-list-item__graphic {
  color: #dce3f5;
}

.drawer.mdc-drawer .mdc-list-divider {
  border-bottom-color: #2f3648;
}

.content {
  margin-left: 256px;
  flex-grow: 1;
/ / background-color: #edf2f6;
}

.main-content {
}

.measure {
  padding: 24px;
}

.measure-header__title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.measure-header__title h2 {
  margin: 8px 0;
}

.measure-header__title .mdc-text-field {
  flex-grow: 1;
}

.measure-header__description {
  margin-bottom: 16px;
}

.measure-header__action-buttons {
  display: flex;
  justify-content: space-between;
}

.measure-stratifier {
}

.measure-stratifier__header {
  padding: 0 1em;
}

.measure-stratifier__description {
  padding: 0 1em;
}

.mdc-dialog .mdc-dialog__content {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.mdc-dialog .mdc-dialog__content .mdc-select,
.mdc-dialog .mdc-dialog__content .mdc-text-field:not(:last-child) {
  margin-bottom: 1rem;
}
