:root {
  --mdc-theme-primary: #4354f1;
}

body {
  margin: 0;
}

.fas {
  font-size: 24px;
}

.page {
  display: flex;
  align-items: stretch;
  min-height: 100vh;
}

.load-or-create-panel {
  display: flex;
  justify-content: center;
}

.drawer {
  position: fixed;
  background-color: #4a5566;
}

.drawer.mdc-drawer .mdc-drawer__title {
  color: #dce3f5;
}

.drawer.mdc-drawer .mdc-drawer__subtitle {
  color: #dce3f5;
}

.drawer.mdc-drawer .mdc-list-item {
  color: #dce3f5;
}

.drawer.mdc-drawer .mdc-list-item__graphic {
  color: #dce3f5;
}

.drawer.mdc-drawer .mdc-list-divider {
  border-bottom-color: #2f3648;
}

.main-content {
  margin-left: 256px;
  flex-grow: 1;
  margin-top: 64px;
}

.app-bar.mdc-top-app-bar {
  padding-left: 256px;
}

.app-bar__server_name {
  display: flex;
  padding: 12px;
}


/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  background-color: rgb(235, 235, 235);
  width: 256px;
  box-sizing: border-box;
  top: 64px;
  bottom: 0;
  right: 0;
  padding: 0.5rem;
  border-left: 1px solid #d6d6d6;
}

.sidebar-entry {
  border-bottom: 1px solid #c9c9c9;
  padding: 8px;
}

.sidebar-entry__title {
  display: flex;
  justify-content: space-between;
}

.sidebar-entry__content {
  color: #4a5566;
}

.sidebar-entry__content .mdc-text-field {
  flex-grow: 1;
  margin: 0.5rem 0;
  background-color: #fff;
}

.sidebar-entry__action-buttons mdc-button:not(:first-child) {
  margin-left: 0.5rem
}


/*
 * Url Panel
 */

.sidebar-entry.url-panel .sidebar-entry__content {
  text-overflow: ellipsis;
  overflow: hidden;
}

/*
 * Library Page
 */

.library-page {
  margin-right: 256px;
}

.library-page.library-page--error {
  margin-right: 0;
}


/*
 * Library List
 */

.library-list-page {
  padding: 1rem;
}

.library-list-page__list .mdc-list {
  margin-right: 56px;
}

.library-list-page__empty-placeholder {
  display: flex;
  justify-content: center;
  padding-top: 4rem;
}

.library-list-page__create-button {
  position: fixed;
  right: 1rem;
  bottom: 1rem;
}

/*
 * Measure List Page
 */
.measure-list-page {
  padding: 1rem;
}

.measure-list-page__list .mdc-list {
  margin-right: 56px;
}

.measure-list-page__empty-placeholder {
  display: flex;
  justify-content: center;
  padding-top: 4rem;
}

.measure-list-page__create-button {
  position: fixed;
  right: 1rem;
  bottom: 1rem;
}


/*
 * Measure Page
 */

.measure-page {
  margin-right: 256px;
}

.measure-page.measure-page--error {
  margin-right: 0;
}

.measure {
  padding: 24px;
  flex-grow: 1;
}

.measure-header {
  color: var(--mdc-theme-text-primary-on-background);
}

.measure-header__title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.measure-header__title h2 {
  margin: 8px 0;
}

.measure-header__title .mdc-text-field {
  flex-grow: 1;
}

.measure-header__description {
  margin-bottom: 16px;
}

.measure-header__action-buttons {
  display: flex;
  justify-content: space-between;
}

.measure-header__action-buttons-right {
  display: inline-flex;
}

.mdc-button.measure-header__delete-button {
  background-color: #db401e;
  margin-right: 1rem;
}


/*
 * Measure Population Panel
 */

.measure-population-panel .mdc-typography--headline5 {
  margin: 0;
  border-bottom: 1px solid var(--mdc-theme-text-primary-on-background);
  color: var(--mdc-theme-text-primary-on-background);
}

/*
 * Measure Population
 */

.measure-population {
  color: var(--mdc-theme-text-primary-on-background);
}

.measure-population__header {
  padding: 0 1em;
}

.measure-population__description {
  padding: 0 1em;
}

.measure-population-dialog.mdc-dialog .mdc-dialog__content {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.measure-population-dialog.mdc-dialog .mdc-dialog__content .mdc-text-field:not(:last-child) {
  margin-bottom: 1rem;
}


/*
 * Measure Stratifier Panel
 */

.measure-stratifier-panel .mdc-typography--headline5 {
  margin-bottom: 0;
  border-bottom: 1px solid var(--mdc-theme-text-primary-on-background);
  color: var(--mdc-theme-text-primary-on-background);
}


/*
 * Measure Stratifier
 */

.measure-stratifier {
  color: var(--mdc-theme-text-primary-on-background);
}

.measure-stratifier__header {
  padding: 0 1em;
}

.measure-stratifier__title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.measure-stratifier__description {
  padding: 0 1em;
}

.measure-report-panel {
  color: var(--mdc-theme-text-primary-on-background);
}

.measure-stratifier-dialog .mdc-dialog__content .measure-stratifier-dialog-component:not(:last-child) {
  margin-bottom: 1rem;
}

.measure-stratifier-dialog-component {
  display: flex;
}

.measure-stratifier-dialog-component__front {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.measure-stratifier-dialog-component__icon {
  padding: 12px;
}

.measure-stratifier-dialog-component__form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex-grow: 1;
  margin-left: 1rem;
}

.measure-stratifier-dialog-component__form .mdc-text-field:not(:last-child) {
  margin-bottom: 1rem;
}


/*
 * Measure Report Panel
 */

.measure-report-panel__title {
  margin-top: 0;
}


/*
 * Measure Report Page
 */

.measure-report-page {
}


/*
 * Measure Report
 */

.measure-report {
  padding: 1.5rem;
}


/*
 * Measure Report Population Panel
 */

.measure-report-population-panel .mdc-typography--headline5 {
  margin: 0;
  border-bottom: 1px solid var(--mdc-theme-text-primary-on-background);
  color: var(--mdc-theme-text-primary-on-background);
}


/*
 * Measure Report Population
 */

.measure-report-population {
  color: var(--mdc-theme-text-primary-on-background);
}

.measure-report-population__header {
  padding: 0 1em;
}

.measure-report-population__count {
  padding: 0 1em;
}


/*
 * Measure Report Stratifier Panel
 */

.measure-report-stratifier-panel .mdc-typography--headline5 {
  margin: 0;
  border-bottom: 1px solid var(--mdc-theme-text-primary-on-background);
  color: var(--mdc-theme-text-primary-on-background);
}


/*
 * Measure Stratifier
 */

.measure-report-stratifier {
  color: var(--mdc-theme-text-primary-on-background);
}

.measure-report-stratifier__title h3 {
  margin: 1.5rem 1rem 0.5rem;
}


/*
 * Settings Page
 */
.settings-page {
  padding: 2rem;
}

.settings-server-list-card__header {
  padding: 0 1em;
}

.settings-server-list-item--active .mdc-list-item__meta {
  margin-right: 48px;
}

.settings-server-dialog.mdc-dialog .mdc-dialog__content {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.settings-server-dialog.mdc-dialog .mdc-dialog__content .mdc-text-field:not(:last-child) {
  margin-bottom: 1rem;
}


.cql-panel {
  color: var(--mdc-theme-text-primary-on-background);
}

.cql-panel__title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.cql-panel__title h2 {
  margin: 8px 0;
}

.cql-panel__title .mdc-text-field {
  flex-grow: 1;
}

.cql-panel.cql-panel--edit .cql-panel__edit-button {
  visibility: hidden;
}

.cql-panel__data {
  margin-bottom: 16px;
  font-family: "Roboto Mono", Roboto, sans-serif;
}

.cql-panel__data .mdc-text-field__input {
  font-family: "Roboto Mono", Roboto, sans-serif;
}

.cql-panel__action-buttons {
  display: flex;
  justify-content: space-between;
}

.cql-panel:not(.cql-panel--edit) .cql-panel__action-buttons {
  display: none;
}


/*
 * Settings Page
 */
.help-page {
  padding: 2rem;
}


/*
 * Error
 */

.error {
  padding: 1.5rem
}

.error__big-http-status {
  font-family: Roboto, sans-serif;
  font-size: 6rem;
  line-height: 6rem;
  font-weight: 100;
  letter-spacing: -0.015625em;
  text-align: center;
  padding: 3rem 0 0;
}

.error__big-http-status-message {
  font-family: Roboto, sans-serif;
  font-size: 2rem;
  line-height: 2rem;
  font-weight: 300;
  text-align: center;
}
